.bg-primary {
  background: #F8F7F1;
}
.innerWidth {
  width: 100%;
}
@media (min-width: 1536px) {
  .innerWidth {
    max-width: 1280px;
    margin: auto;
  }
}
.paddings {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
@media (min-width: 640px) {
  .paddings {
    padding: 4rem;
  }
}
@media (min-width: 1280px), (min-width: 768px) {
  .paddings {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.xPaddings {
  padding-left: 1.5rem;
  /* 24px */
  padding-right: 1.5rem;
  /* 24px */
}
@media (min-width: 640px) {
  .xPaddings {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.yPaddings {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 640px) {
  .yPaddings {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
@media (min-width: 1280px) {
  .yPaddings {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.topPaddings {
  padding-top: 3rem;
}
@media (min-width: 640px) {
  .topPaddings {
    padding-top: 4rem;
  }
}
@media (min-width: 1280px) {
  .topPaddings {
    padding-top: 2rem;
  }
}
.bottomPaddings {
  padding-bottom: 3rem;
}
@media (min-width: 640px) {
  .bottomPaddings {
    padding-bottom: 4rem;
  }
}
@media (min-width: 1280px) {
  .bottomPaddings {
    padding-bottom: 2rem;
  }
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexStart {
  display: flex;
  justify-content: start;
  align-items: center;
}
.flexEnd {
  display: flex;
  justify-items: end;
}
.primaryText {
  font-size: 3rem;
  font-weight: bold;
}
@media (max-width: 640px) {
  .primaryText {
    font-size: 2.5rem;
  }
}
.secondaryText {
  line-height: 50px;
  font-size: 1.3rem;
  font-weight: 500;
}
@media (max-width: 640px) {
  .secondaryText {
    font-size: 1.1rem;
    line-height: 40px;
  }
}
.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}
.experienceWrapper {
  background-color: white;
}
.experienceWrapper .container {
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}
.experienceWrapper .container > div {
  flex: 1;
}
.experienceWrapper .container .leftSide {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.experienceWrapper .container .leftSide .exp {
  display: flex;
  align-items: center;
  border: 1px solid #286F6C;
  border-radius: 20px;
  padding: 1.5rem;
  gap: 2rem;
  transition: all 200ms ease-out;
}
.experienceWrapper .container .leftSide .exp:hover {
  cursor: pointer;
  box-shadow: 0px 21px 13px rgba(0, 0, 0, 0.04);
}
.experienceWrapper .container .leftSide .exp > :nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.experienceWrapper .container .leftSide .exp > :nth-child(2) > :nth-child(1) {
  font-size: 1.6rem;
  font-weight: bold;
}
.experienceWrapper .container .rightSide {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 640px) {
  .experienceWrapper .container .rightSide {
    text-align: center;
  }
}
.experienceWrapper .container .rightSide .stats {
  justify-content: flex-start;
  gap: 4rem;
}
.experienceWrapper .container .rightSide .stats .stat {
  flex-direction: row;
  justify-content: flex-start;
}
/*# sourceMappingURL=Experience.css.map */